<h4><span class="badge badge-light ">{{customer.cpf}}</span> -> {{customer.name}}</h4>
<div [hidden]="submitted">
    <form #detailCustomerForm="ngForm">
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" required
        [(ngModel)]="customer.cpf" name="cpf" #cpf="ngModel">
        <div [hidden]="cpfValid() || cpf.pristine"
             class="alert alert-danger">
            CPF Inválido
        </div>
      </div>

      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" required
        [(ngModel)]="customer.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            Nome é necessário
        </div>
      </div>
      
      <div class="bd-example">
        <button type="button" class="btn btn-info" (click)="goBack()">Voltar</button>
        <button type="button" class="btn btn-warning" style="margin-left: 10px;" (click)="update()" [disabled]="!cpfValid() || !name.valid">Atualizar</button>
        <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="delete()">Remover</button>
	    </div>
    </form>
</div>
 
<div [hidden]="!submitted">
    <p>{{message}}</p>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-info" (click)="goBack()">Voltar</button>
    </div>
</div>